/* FOR TABLETS */
@media all and (max-width: 1000px){
     .lesson{
        width: 100%;
        margin-bottom: 50px;
    } 

    .top-wrapper h1{
        font-size: 32px;
    }

    .heading h2{
        font-size: 20px;
    }

    /* .lessons{
        flex-wrap: wrap;
    } */

    .prev,
    .next {
        position: absolute;
        top: 1250px;
        left: 33%;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        user-select: none;
}

    
}

/* FOR SMARTPHONE */
@media all and (max-width: 670px){
    .lesson{
        width: 100%;
    }

    footer{
        text-align: center;
    }

    .btn{
        width: 100%;
    }

    input, textarea{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 18px;
        border: 1px solid #dee7ec;
        border-radius: 10px;
      }

    .top-wrapper{
        text-align: center;
    }

    .header-right{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .top-wrapper h1{
        font-size: 40px;
        line-height: 36px;
    }

    .top-wrapper p{
        font-size: 24px;
        line-height: 20px;
    }

    .prev,
  .next {
    position: absolute;
    top: 1460px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0px 3px 3px 0;
    user-select: none;
    }

    .prev{
        left: 15%;
    }

    .next{
        left: 65%;
    }

    .lesson-icon img{
        width: 50%;
        height: 200px;
        object-fit: contain;
    }
}
