*{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
  }

body{
    margin: 0;
    font-family: "Lucida Grande";
}

a{
    text-decoration: none;
}

.clear{
    clear: left;
}

.container{
    max-width: auto;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper{
    padding: 100px 0 100px 0;
    color: black;
    text-align: center;
}

.top-wrapper h1{
    
    font-size: 100px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper h2{
    font-size: 60px;
}


.top-wrapper span{
    color: #FFD700;
}

.text-wrapper{
    background-color: #b3aeb5;
    text-align: center;
    padding: 40px ;
}

.text-wrapper p{
    margin: 10px;
    padding-top: 10px;
}


.btn{
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover{
    opacity: 1;
}

.fa{
    margin-right: 5px;
}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    width: 124px;
    margin-top: 20px;
}

.logo-ninjaken{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo-ninjaken:hover{
    filter: grayscale(1);
    transform: scale(0.5) rotate(45deg);
    transition: all 1s ease;
}

@keyframes zoom-in-out{
    0% {transform: scale(1);}
    25% {transform: scale(0.6);}
    50% {transform: scale(0.7);}
    75% {transform: scale(0.6);}
    100% {transform: scale(1);}
}

.gambar:hover{
    animation-name: zoom-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation:zoom-in-out 2s; /* Safari dan Chrome */
    -moz-animation:zoom-in-out 2s; /* Firefox */
    -ms-animation:zoom-in-out 2s; /* Internet Explorer */
    -o-animation:zoom-in-out 2s; /* Opera */
    animation:zoom-in-out 2s; /* W3C */
}

.header-left{
    float: left;
}

.header-right{
    float: left;
    margin-right: -25px;
    margin-left: 30px;
}

.header-right a{
    line-height: 65px;
    padding: 0 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
}

.heading{
    padding-top: 80px;
    padding-bottom: 10px;
}

.heading h3{
    font-weight:bold;
    color: black;
    margin-bottom: 50px;
}

.lessons{
    text-align: center;
}

.lesson{
    flex: auto;
    text-align: center;
}

/* .lesson-icon{
    position:;
} */

.lesson-icon img{
    width: 30%;
    height: 200px;
    object-fit: contain;
}

.prev,
  .next {
    position: absolute;
    top: 1300px;
    left: 33%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

.lesson-icon p{
    position: absolute;
    top: 37%;
    width: 100%;
    color: white;
}

.text-contents{
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
    border-radius: 10px;
  }

.message-wrapper{
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color: #b3aeb5;
}

.message{
    color: black;
    padding: 15px 40px;
    background-color: #FFD700;
    cursor: pointer;
    box-shadow: 0 7px #726417;
}

.message:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}

.footer-logo{
    float: left;
}

.footer-logo img{
    width: 125px;
}


footer{
    background-color: black;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 165px;
    width: 100%;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px #ccc solid;
    text-align: left;
    font-size: 15px;
  }

  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    display: none;
    padding: 0 18px;
    background-color: white;
    border: 1px #ccc solid;
  }

  .faq{
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    background-color: white;
  }

  .faq h3{
    text-align: center;
  }

  .faq button{
    font-weight:bold;
  }

  #myModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #modalContent {
    background-color: #fefefe;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 60%;
  }

  #closeModalIcon {
    color: #aaaaaa;
    float: right;
  }

  #closeModalIcon:hover,
  #closeModalIcon:focus {
    color: #000;
    cursor: pointer;
  }
